body {
	background-color:#000;
}

#mainpage .bigImage img {
	width:80%;
	margin: 5% 8%;
	display:block;
	border: 2px solid #FFF;	
}

.google-map {
	width:90%;
	margin: 5%;
	display:block;
}

#infoLabel {	
	width: 250px;
	text-align: center;		
}

.centered{
	margin-left:auto;
	margin-right:auto;
}


.row{
	margin: auto;
	width: 300px;	
}

.row a{
	padding: 5px;	
	font-color: #306;
}

.thumbnails{
	background-color=#D3D3D3;	
}

.button{
    float: left;
    width: 80px;  
    height: 60px;  
    		
}

.centered {
	margin-left:auto;
	margin-right:auto;
}

#activePlayer{
	display: inline;
	width: 200px;		
}

#newPhotoPreview {
	display:none;
	width:80%;
	margin: 4% 10%;
	border: 2px solid #FFF;
}

#usePictureButton {
	display:none;
}

#PDIPhotoGalleryContainer img {
	width:80%;
	margin: 4% 10%;
	display:block;
	border: 2px solid #FFF;
}